:root {
  --primary: rgb(138, 184, 136);
  --error: red;
}

body {
  background-color: rgb(172, 190, 175);
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

header {
  background:rgb(73, 121, 81);
}

header .container {
  max-width: 1400px;
  display: flex;
  margin: 0 auto;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: rgb(230, 218, 218);
  text-decoration: none;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;

}

.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

.plant-details {
  background:rgb(245, 241, 241);
  border-radius: 5px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);

}

.plant-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.plant-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: rgb(235, 245, 234);
  padding: 6px;
  border-radius: 50%;
  color:rgb(75, 88, 77)
}
form {
  color:rgb(63, 70, 63);
}

label, input {
  display: block;
}

input {
  padding: 12px;
  margin-top: 15px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

form button {
  background: var(--primary);
  border: 0;
  color:rgb(60, 71, 62);
  padding: 12px;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
  border-radius: 3px;
  
}

div.error {
  padding: 12px;
  background:rgb(230, 218, 218);
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 3px;
  margin: 20px 0;
}